{% extends "base.html" %}

{% block content %}

<div>
    <form class="uk-form-stacked" hx-post="/login" hx-target="#login-result">
        <div class="uk-margin">
            <label class="uk-form-label" for="username">Username</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" id="username" type="text" placeholder="Enter your username" name="username" aria-label="Username" required>
                </div>
            </div>
        </div>
    
        <div class="uk-margin">
            <label class="uk-form-label" for="password">Password</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" id="password" type="password" placeholder="Enter your password" name="password" aria-label="Password" required>
                </div>
            </div>
        </div>
    
        <div class="uk-margin">
            <button class="uk-button uk-button-primary" type="submit">Login</button>
        </div>
    
        <div id="login-result" class="uk-margin uk-text-danger"></div>
    </form>
</div>

{% endblock content %}