{% extends "base.html" %}

{% block content %}

<div>
    <form hx-post="{{ post_url }}" hx-disabled-elt="find #submit" hx-target="#login-result" hx-swap="innerHTML" class="uk-form-stacked">
        <div id="login-result" class="uk-margin"></div>
        
        <div class="uk-margin">
            <label class="uk-form-label" for="email">Email</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="email" type="email" placeholder="Enter your email" name="email" aria-label="Email" required>
            </div>
        </div>
    
        <div class="uk-margin">
            <label class="uk-form-label" for="password">Password</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="password" type="password" placeholder="Enter your password" name="password" aria-label="Password" required>
            </div>
        </div>
    
        <div class="uk-margin">
            <button id="submit" class="uk-button uk-button-primary" type="submit">Login</button>
        </div> 
    </form>
</div>

{% endblock content %}